{% extends 'main/base.html' %}
{% load humanize %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'lead/style.css' %}">
<!--for auto complete function-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>

  thead {
    position: sticky;
    top: 0;
    background-color: #88929b;
    color: #000;
    z-index:2;
  }

	.descriptions{
	  width: 200px;
      text-align:justify;
      overflow-wrap: break-word;
		word-wrap: break-word;
		white-space: normal;
		hyphens: auto;
	}

.new-lead{
    background-color: #58332e !important;
    color: white;
    position: relative;
    z-index: 1;
}

form {
    background-color: #2a93c35c;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 0px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-radius: 0.25rem;
}

.table-form{
    background-color: transparent;
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 0px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-radius: 0.25rem;
}

</style>
{% endblock %}

{% block content %}
{% if perms.lead.view_lead %}
<form method="GET" id="search" data-menu-name="searchMenuStateLeads">
<div class="form-row">
    <div class="col-md-2">
      <div class="d-flex justify-content-end float-left">

        <a href="lead_list"><button type="button" class="btn-info btn-sm">&#x21BB;</button></a>
		{% if leader or admin or perms.lead.add_lead %}
		<a href="{% url 'new-lead' %}"><button type="button" class="btn-info btn-sm">+</button></a>
		{% endif %}

		<button class="btn-sm btn-info" type="button"  id="btn-modal" title="click to print"><i class="fa fa-print"></i></button>


        <button type="button" id="showSearch" class="btn-info btn-sm">
          <i class="fas fa-search"></i>
        </button>
        <span id="showSearch1" class="btn btn-sm btn-info">
          < </span>
      </div>
    </div>

  <div class="col-md-10" id="formFields" style="width: 100%">
	  <div class="row">
		  	  		<div class="form-group col-md-3">
				<input class="form-control" type="text" id="lead_search" name="lead_search"
					    placeholder="{% if search_value %}{%else%}{{search_contains}}{%endif%}"
				value="{{search_value}}">
			</div>
		{% if permission %}
		 	<div class="form-group col-md-3">
			  <select id="staff" class="form-control" name="staff" onchange="this.form.submit()">
				<option selected value="{{staff_selected.id}}">
                    {% if staff_selected.id %}
                    {{ staff_selected.first_name }} {{ staff_selected.last_name }}
                    {% else %}
                    {{staff_selected}}
                    {% endif %}
                </option>
				  {% for staff in staffs %}
				<option value="{{staff.id}}">{{ staff.first_name }} {{ staff.last_name }}</option>
				  {% endfor %}
			  </select>
			</div>
		{% endif %}
			<div class="form-group col-md-3">
			  <input id="distribution" class="form-control" name="distribution"
					 onchange="this.form.submit()"
					 placeholder="{% if dn_value %}{%else%}{{distribution_selected}}{%endif%}"
			  value="{{dn_value}}">
			</div>

    	<div class="form-group col-md-1">
      <button type="submit" class="btn-sm btn-info">
        <i class="fas fa-search"></i>
      </button>
    </div>
	  </div>



  </div>
</div>
</form>

{% include 'lead/print-modal.html' %}

	<div class="text-center form-title">
		{{tittle}}
		<span>
			(<small>Total Leads: {{ total_leads }}</small>
			<small>--||--</small>
			<small>Need to Follow Up: {{ need_to_follow_up }}</small>)
		</span>
	</div>
	<div class="card card-body" style="padding: 0!important;">
		<div class="table-container infinite-trigger">
			<form class="table-form" action="{% url 'assign-member' %}" method="post">
				{% csrf_token %}
				<table class="table table-list table-sm table-striped table-bordered hoverTable">
				<thead>
				<tr>
					<th ><input id="select-all" type="checkbox"> DN</th>
					<th title="Click to Short">Name</th>
					<th>Phone</th>
					<th>Interest</th>
					<th>Descriptions</th>
					<th>Contacted</th>
					<th>Status</th>
					<th>Followup Date</th>
					{% if leader %}
						<th>
						<select name="selected_member" onchange="this.form.submit()">
							<option selected>----</option>
							<option value="">Unassigned</option>
							{% for member in members %}
							<option value="{{member.id}}">{{member.first_name}} {{member.last_name}}</option>
							{% endfor %}
						</select>
						</th>
					{% elif permission and user.is_staff %}
						<th>Assigned Member</th>
						<th>Assigned To</th>
					{% endif %}

				</tr>
				</thead>
					<tbody class="infinite-container">
				{% for lead in Leads %}
					{% if lead.contacted == 'No' %}
						<tr class="new-lead infinite-item"
							title="Lead Created on: {{lead.uploaded_time}}&#xA;Source: {{ lead.lead_source }}&#xA;Query: {{ lead.descriptions }}&#xA;Contacted: No!">
					{% else %}
						<tr class="infinite-item" title="Lead Created on: {{lead.uploaded_time}}&#xA;Source: {{ lead.lead_source }}&#xA;Query: {{ lead.descriptions }}&#xA;Contacted: Yes :)">
					{% endif %}
						<td><input name="selected_leads" type="checkbox" value="{{ lead.id }}">
							{{ lead.distribution_no|ordinal }}
							<a class="" href="{% url 'lead-edit' lead.id %}"><i class="fa fa-edit"></i></a>
						</td>
					{% if lead.contacted == 'No' %}
						<td class="" title="{{lead.full_name}}">{{ lead.full_name|truncatechars:12 }}
							<sup class="new"><small>NEW</small></sup>
						</td>
					{% else %}
						<td title="{{lead.full_name}}">

							{{ lead.full_name|truncatechars:12 }}

							{% if lead.status == 'Bad' %}
								<sup class="new">
									<small>Bad</small>
								</sup>
							{% elif lead.status == 'Sold' %}
								<sup class="new">
									<small>Sold</small>
								</sup>
							{% else %}
								<sup class="new" title="{% if lead.follow_up_time%}{{ lead.follow_up_time }}{%else%}Please Add Follow up Date{% endif %}">
									<small>Follow Up</small>
								</sup>
							{% endif %}
						</td>
					{% endif %}

						<td>
							{{ lead.phone_number }}
							<a href="tel:{{lead.phone_number}}">
								<sup>
								<span class="circle">
									<i class="fa fa-phone"></i>
								</span>
								</sup>
							</a>
						</td>
						<td>{{ lead.interested_in }}</td>
						<td>
							<div class="descriptions" id="link-description-{{lead.id}}">
								{{lead.descriptions}}
								<a href="#" onclick="toggle_date('link-description-{{lead.id}}', 'description_{{lead.id}}');">
										<i class="fas fa-pencil-alt" style="font-size: 10px;"></i>
								</a>
							</div>
							<div id="description_{{lead.id}}" style="display:none">
								<textarea style="width:200px" name="description"
										  oninput='this.style.height = "";this.style.height = this.scrollHeight + 3'
										  id="description_value_{{lead.id}}">{{lead.descriptions}}</textarea>

								<a href="#" id="description-submit-{{lead.id}}" title="save"
									onclick="toggle_date('link-description-{{lead.id}}',
									'description_{{lead.id}}',
									'description_value_{{lead.id}}',
									'description-submit-{{lead.id}}');">
									<i class="far fa-check-circle" style="color:white"></i>
								</a>
							</div>
						</td>
						<td>
							<div id="link-contacted-{{lead.id}}">
								{{lead.contacted}}
								<a href="#" onclick="toggle_date('link-contacted-{{lead.id}}', 'contacted_{{lead.id}}');">
										<i class="fas fa-pencil-alt" style="font-size: 10px;"></i>
								</a>
							</div>
							<div id="contacted_{{lead.id}}" style="display:none">
							<select name="contacted"
									id="contacted_value_{{lead.id}}"
									onchange="toggle_date('link-contacted-{{lead.id}}',
									'contacted_{{lead.id}}',
									'contacted_value_{{lead.id}}',
									'contacted-submit-{{lead.id}}');">
								<option selected value="{{lead.contacted}}">{{lead.contacted}}</option>
								{% for contact in contact_options %}
								<option value="{{contact}}">{{contact}}</option>
								{% endfor %}
							</select>
							</div>
						</td>
						<td>
							<div id="link-status-{{lead.id}}">
								{{lead.status}}
								<a href="#" onclick="toggle_date('link-status-{{lead.id}}', 'status_{{lead.id}}');">
										<i class="fas fa-pencil-alt" style="font-size: 10px;"></i>
								</a>
							</div>
							<div id="status_{{lead.id}}" style="display:none">
							<select name="status"
									id="status_value_{{lead.id}}"
									onchange="toggle_date('link-status-{{lead.id}}',
									'status_{{lead.id}}',
									'status_value_{{lead.id}}',
									'status-submit-{{lead.id}}');">
								<option selected value="{{ lead.status }}">{{ lead.status }}</option>
								{% for status in status_options %}
								<option value="{{status}}">{{status}}</option>
								{% endfor %}
							</select>
							</div>
						</td>
						<td title="" id="lead-f-{{lead.id}}">
								<div id="link-date-{{lead.id}}">
									{{lead.follow_up_time}}
									<a href="#" onclick="toggle_date('link-date-{{lead.id}}', 'date_{{lead.id}}');">
										<i class="fas fa-pencil-alt" style="font-size: 10px;"></i>
									</a>
								</div>
								<div id="date_{{lead.id}}" style="display:none">
								<input name="f_date" style="width:125px" id="date_value_{{lead.id}}" type="date" value="{{lead.follow_up_time|date:'Y-m-d' }}">
								<a href="#" id="submit-{{lead.id}}" title="save"
									onclick="toggle_date('link-date-{{lead.id}}',
									'date_{{lead.id}}',
									'date_value_{{lead.id}}',
									'submit-{{lead.id}}');">
									<i class="far fa-check-circle" style="color:white"></i>

								</a>
								</div>
						</td>
						{% if leader %}
							<td>{{ lead.assigned_member.first_name }} {{ lead.assigned_member.last_name }}</td>
						{% elif permission and user.is_staff %}
							<td>{{ lead.assigned_member.first_name }} {{ lead.assigned_member.last_name }}</td>
							<td>{{ lead.assigned_to.first_name }} {{ lead.assigned_to.last_name }}</td>

						{% endif %}


					</tr>

				{% endfor %}
				</tbody>
			</table>
			</form>
		</div>
			<span hidden="hidden">{% include 'main/pagination.html' %}</span>
		</div>
{%else%}
<div class="text-center" style="color: white;"> Sorry {{user.first_name}}, You Are Not Allowed Here!! </div>
{% endif %}

<script type="text/javascript" src="{% static 'lead/script.js' %}"></script>



<!--for auto complete function-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#lead_search").autocomplete({
            source: '{% url 'autocomplete-search-leads' %}',
            minLength: 1
        });
    });
</script>

<!--for infinite scrolling-->
<script type="text/javascript" src="{% static 'main/js/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/infinite.min.js' %}"></script>
<!--this file also includes responsive container height-calculator -->
<script type="text/javascript" src="{% static 'main/js/infinite.scrolling.js' %}"></script>
<!--for infinite scrolling-->


{% endblock content %}
