{% load static %}
<style>
.float{
	position:fixed;
	width:40px;
	height:40px;
	top:100px;
	left:40px;
	color: white;
	background-color: #090b26;
	border-radius:50px;
	text-align:center;
	z-index: 100;
	cursor: pointer;
}

.float:hover{
    background-color: #633995;
}

.my-float{
	margin-top:13px;
}

 :root{
  --color: #f0f;
}
.shadow {
  box-shadow: 0px 0px 10px 5px var(--color)!important;
}

@media print {
  #print {
    display: none;
  }

    * {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  }

  
</style>
<div id="print" class="float shadow" title="Print">
<div class="my-float"><img style="width: 1.2em; height:1.2em;" src="{% static 'main/print.ico' %}"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$('#print').click(function(){
  var body = document.body.innerHTML
  var printBody = document.getElementById("print_body");
  document.body.innerHTML = printBody.innerHTML;
  $(".table-container").removeClass("table-container");
  window.print();
  document.body.innerHTML = body;
});


<!--function print() {-->
<!--  var body = document.body.innerHTML-->
<!--  var printBody = document.getElementById("print_body");-->
<!--  document.body.innerHTML = printBody.innerHTML;-->
<!--  $(".table-container").removeClass("table-container");-->
<!--  window.print();-->
<!--  document.body.innerHTML = body;-->
<!--}-->
</script>

