  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#" onclick="setSidebarState('on');">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Lead Manager</a>
        <div id="close-sidebar" onclick="setSidebarState('off');">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="/media/default.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">{{user.first_name}}
            <strong>{{user.last_name}}</strong>
          </span>
          <span class="user-role">
            {% if user.is_staff and user.is_superuser%}
            Admin
            {% elif user.is_staff %}
            Staff
            {% else %}
            Seller
            {% endif %}

          </span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>
              {% if user.is_active %}
                Active
              {% else %}
                Inactive
              {% endif %}
            </span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="{% url 'main-home' %}">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
            <div class="sidebar-submenu">
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="{% url 'new-lead' %}">
              <i class="fa-solid fa-person-rays"></i>
              <span>New Lead</span>
            </a>
          </li>

          <li class="sidebar-dropdown">
            <a href="{% url 'lead-list' %}">
              <i class="fa-solid fa-people-group"></i>
              <span>Lead List</span>
            </a>
          </li>

          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa-solid fa-file-import"></i>
              <span>Import Leads</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa-solid fa-file-export"></i>
              <span>Export Leads</span>
              <span class="badge badge-pill badge-danger">{{ new_stock }}</span>
            </a>
            <
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="/admin/">
        <i class="fa fa-cog"></i>
      </a>
      <form id="logout-form" method="post" action="/admin/logout/">
                    {% csrf_token %}
                    <button class="btn btn-sm" type="submit"><i class="fa fa-power-off"></i></button>
      </form>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->

  